<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>878513323786-dqiffr8o8ptm2rpr4bd13mmc3h5nianc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.878513323786-dqiffr8o8ptm2rpr4bd13mmc3h5nianc</string>
	<key>API_KEY</key>
	<string>AIzaSyCP1SgnEWIp3eWWXyHkRNqWXbgQ1JG3Oko</string>
	<key>GCM_SENDER_ID</key>
	<string>878513323786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.make-school.startProgramming</string>
	<key>PROJECT_ID</key>
	<string>startprogramming-c6943</string>
	<key>STORAGE_BUCKET</key>
	<string>startprogramming-c6943.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:878513323786:ios:800103edf8afd76f</string>
	<key>DATABASE_URL</key>
	<string>https://startprogramming-c6943.firebaseio.com</string>
</dict>
</plist>